
<section class="main">
    <div class="container">
        <div class="static"[innerHTML]="getSafeHtml(htmlContent)" ></div>
    </div>
</section>
<!-- <footer>
    <div class="px-5">
        <div class="row">
            <div class="col-md-4">
                <div class="links">
                    <h3><img src="../../../assets/imgs/Shahrnik_Logo_Public_new.png" alt=""> دیار</h3>
                    <p class="text-white py-1">« دیار » یک پلتفرم چند رسانه ای برای تمامی ایرانیان و پارسی زبانان خارج
                        از ایران است. این پلتفرم برای دسترسی به اطلاعات ضروری و مفید در هر یک از شهرهای مهاجر پذیر و
                        همچنین توسعه روابط اجتماعی و اقتصادی مابین ایرانیان و پارسی زبانان طراحی و پیاده سازی شده است.
                    </p>
                </div>
            </div>
            <div class="col-md-4 social">
                <div>
                    <h3>ما را در شبکه‌های اجتماعی دنبال کنید :</h3>
                </div>
                <div class="social1 ">
                    <a href=""><img src="../../../assets/imgs/telegram (1).png" alt=""></a>
                    <a href=""><img src="../../../assets/imgs/instagram (1).png" alt=""></a>
                    <a href=""><img src="../../../assets/imgs/whatsapp (1) 1.png" alt=""></a>
                </div>
                <div class="social2 ">
                    <a href=""><img src="../../../assets/imgs/youtube 1.png" alt=""></a>
                    <a href=""><img src="../../../assets/imgs/linkedin (1) 1.png" alt=""></a>
                    <a href=""><img src="../../../assets/imgs/facebook.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-4 linkdownload border-0">
                <div>
                    <h3>از طریق لینک زیر به اپلیکیشن دیار دسترسی داشته باشید :</h3>
                    <div class="linkdownload1">
                        <a href="">
                            <h4>دانلود در Google Play<img src="../../../assets/imgs/google-play 1.png" alt=""></h4>

                        </a>
                    </div>

                    <div class="linkdownload2">

                        <a href="">
                            <h4>دانلود در App Store<img src="../../../assets/imgs/apple 1.png" alt=""></h4>

                        </a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<section class="central flex-column signature">
    <div>
        <span>
            <a href="http://www.geoxity.co/" target="_blank">
                © 2024 My Dyar, All Rights Reserved POWERED BY
            </a>
        </span>
    </div>
    <div>
        <a href="http://www.geoxity.co/" target="_blank">
            <img src="../../../assets/imgs/geoxity_logo.png" height="15" alt="">
            <span>
                email: Info@geoxity.co
            </span>
        </a>
    </div>
</section> -->