.searchbar {
  /* background-image: url(../../../assets/basic/Search-bar.png); */
  width: 100%;
  height: 300px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.searchbar img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.category {
  background-color: #01245c;
}
.category > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.category .container div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  cursor: pointer;
}

.category .container > div:hover span {

  color: var(--divar);

}


.category span {
  color: #fff;
  margin: 5px 0;
}

.search_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 50%;
}
.search_box button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: var(--divar);
  border: 0;
}
.search_box input,
.search_box select {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  height: 100%;
  width: 100%;
  border-right: 1px solid #c1bcbc;
  padding: 0 5px;
  background-color: #fff;
  padding-right: 30px;
  border-radius: 0 !important;
}
input:focus {
  outline: none;
  /* border: 0; */
  /* background-color: #e6e6e6; */
  border-radius: 8px;
}
.search_box div {
  /* width: 100%; */
  height: 100%;
  padding: 5px 0;
  position: relative;
}
.search_box div > mat-icon {
  position: absolute;
  top: 12px;
  right: 5px;
  color: #c1bcbc;
}

.adds_box {
  border-radius: 8px;
  overflow: hidden;
}

.img_box img {
  height: 160px;
  object-fit: cover;
  width: 100%;
}
.img_box_city img {
  height: 110px;
  object-fit: cover;
}
.img_box {
  position: relative;
}
.img_box span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 10px;
  z-index: 1000;
  background-color: #01245c;
  color: #fff;
  border-bottom-left-radius: 4px;
}
.img_box P {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 3px 10px;
  z-index: 1000;
  background-color: #ffaa01;
  color: #000;
  border-top-right-radius: 4px;
}

.text-primary {
  color: #01245c !important;
}

.detail_box {
  height: 140px;

  max-height: 140px;

  background-color: #f3f3f3;

  padding: 10px;

  display: flex;

  flex-direction: column;

  justify-content: space-between;
}

.city_box {
  background-color: #f3f3f3;

  /* padding: 10px; */
}

.sec_title h3 {
  font-size: 32px;
  font-weight: 700;
  margin: 10px 0;
}
.sec_title img {
  font-size: 32px;
  font-weight: 700;
  /* transform: rotate(345deg); */
  margin: 0 10px;
  color: #ffaa01;
}
.city_selected {
  background-color: #01245c;
  background-image: url(../../../assets/imgs/building.png);
  background-repeat: no-repeat;
  background-position: left;
}
.btn-title {
  font-size: 20px;
  font-weight: 700;
}

.city_box {
  border-radius: 8px;
  overflow: hidden;
}

.about {
  /* background-color: #01245c ; */
  background-image: url(../../../assets/imgs/bg-support.png);
  background-repeat: no-repeat;
  /* background-position: left; */
  border-radius: 16px;
  height: 325px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  background-size: cover;
}
.about div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about h2 {
  font-size: 40px;
  font-weight: 1000;
  line-height: 65px;
  text-align: left;
  color: #01245c;
}
.business {
  background-color: #01245c;
}
.business p {
  text-align: center;
}
.bg-whithe {
  background-color: #fff;
}
/* .category img {
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 5px;
} */
@media screen and (min-width: 1500px) {
  .search_box {
    max-width: 50%;
  }
}

footer {
  margin: 1rem 0;
  padding: 1rem 0;
  margin-bottom: 0;
  background-color: #b4e4ff;
}
.links h3 img {
  width: 57px;
  height: 57px;
  border-radius: 15px;
  flex-shrink: 0;
}
.links h3 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.links p {
  color: #fff;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: justify;
  padding-left: 10px;
}

.social h3 {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.social a img {
  width: 50px;
}
.social1 {
  text-align: center;
  justify-content: center;
  padding: 12px;
}
.social1 a {
  text-align: center;
  justify-content: center;
  padding: 12px;
}
.social1 a img:hover {
  background-color: #ffaa01;
  border-radius: 100%;
  transition: 0.5s;
}
.social2 {
  text-align: center;
  justify-content: center;
  padding: 12px;
}

.social2 a {
  text-align: center;
  justify-content: center;
  padding: 12px;
}
.social2 a img:hover {
  background-color: #ffaa01;
  border-radius: 100%;
  transition: 0.5s;
}
.linkdownload {
  text-align: center;
  justify-content: center;
  padding: 12px;
}
.linkdownload h4:hover {
  background-color: #ffaa01;
  transition: 0.5s;
}
.linkdownload h3 {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.linkdownload1 h4 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.linkdownload2 h4 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.linkdownload h4 img {
  padding-right: 20px;
  /* padding-bottom: 9px; */
  width: 50px;
}

footer h3 {
  padding: 0;
  color: #fff;
}
footer i {
  color: #fff !important;
}

a {
  text-decoration: none;
  color: inherit;
}
footer .row > div {
  /* border-left: 1px solid #fff; */
}
.adds_box,
.city_box {
  cursor: pointer;
}
.linkdownload1 h4 {
  font-family: inherit;
}

.linkdownload2 h4 {
  font-family: inherit;
}
.owl-stage {
  display: flex;
}

.owl-stage > .owl-item {
  height: inherit !important;
}

@media screen and (max-width: 768px) {
  .search_box {
    height: auto;
    width: 80%;
  }
  .search_box div {
    height: 50px;
  }
  .about div {
    width: 100%;
  }
  .about {
    width: 95%;
  }
  footer .row > div {
    border-left: 0;
  }
  .category > div {
    flex-wrap: wrap;
  }
  .category .container div {
    width: 30%;
  }
}
@media screen and (max-width: 400px) {
  .sec_title h3 {
    font-size: 21px;
    text-align: center;
  }
  .linkdownload1 h4 {
    font-size: 15px;
    font-family: inherit;
  }

  .linkdownload2 h4 {
    font-size: 15px;
    font-family: inherit;
  }
}
@media screen and (min-width: 991px) {
  .category .container {
    max-width: 1100px;
  }
}

@media screen and (max-width: 370px) {
  .social a img {
    width: 40px;
  }
  .linkdownload1 h4 {
    font-size: 12px;
    font-family: inherit;
  }
  .linkdownload2 h4 {
    font-size: 12px;
    font-family: inherit;
  }
  .social h3 {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 11px;
  }
  .category span {
    font-size: 12px;
  }
  .sec_title h3 {
    font-size: 16px;
    text-align: center;
  }
  .about {
    background-color: var(--divar);
    background-image: none;
  }
  .about h2 {
    font-size: 30px;
    margin: 0;
  }
  .about div {
    align-items: center;
  }
}

.signature {
  
  
  background-color: #ffffff;
  
  color: #000000;
  
  font-family: Montserrat;
  
  font-size: 12px;
  
  font-weight: bold;
  
  line-height: 15px;
  
  text-align: left;
  
}


.ads_box{
  width: 100%;
  height: 100px;
}