<!-- header -->

<header class="border-2 border-bottom border-gray p-1">

    <div class="app-header row flex-row-reverse justify-content-between gx-2 px-2 p-1">

        <div class="d-flex justify-content-start align-items-center flex-row-reverse col-11 col-md-5">

            <div class="app-logo col-12 col-md-6 pointer" (click)="changeRoute('home')">

                <img class="w-100 h-100" src="../../../assets/imgs/Shahrnik_Logo_Public_new.png" alt="">

            </div>

            <div class="p-0">

                <div class=" h-100 central ">



                </div>

            </div>

        </div>

        <div class="app-header-buttons col-1 col-md-4 d-flex flex-row-reverse justify-content-end align-items-center">

            <div class="site-menu">
                <ul class="d-flex justify-content-center align-items-center m-0">
                    <li>درباره ما</li>
                    <li>ارتباط با ما</li>
                    <li>اخبار</li>
                    <li>جستجو</li>
                    <li>خانه</li>
                </ul>
            </div>

            <div class="my-diar p-1 rounded-md dropdown">

                <!-- dropdown-toggle -->

                <button class="d-flex align-items-center w-100 text-primary justify-content-between " type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">

                    <mat-icon>menu</mat-icon>

                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                    <li>

                        <a (click)="openAbout()" class="dropdown-item"> درباره دیار

                            <mat-icon class="text-muted"> info </mat-icon>

                        </a>

                    </li>

                    <li>
                        <a (click)="openAdd()" class="dropdown-item">

                            قوانین و مقررات

                            <mat-icon class="text-muted"> gavel </mat-icon>

                        </a>
                    </li>

                    <ng-container *ngIf="isLogin">

                        <li>
                            <a (click)="logOut()" class="dropdown-item"> خروج

                                <mat-icon class="text-muted"> logout </mat-icon>
                            </a>

                        </li>

                    </ng-container>


                </ul>

            </div>


        </div>

    </div>

</header>

<main dir="rtl" class="p-0">

    <router-outlet></router-outlet>

    <footer>
        <div class="px-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="links">
                        <h3><img src="../../../assets/imgs/Shahrnik_Logo_Public_new.png" alt=""> تهران سیم</h3>
                        <p class=" py-1">« تهران سیم » یک پلتفرم چند رسانه ای برای تمامی ایرانیان و پارسی
                            زبانان خارج
                            از ایران است. این پلتفرم برای دسترسی به اطلاعات ضروری و مفید در هر یک از شهرهای مهاجر پذیر و
                            همچنین توسعه روابط اجتماعی و اقتصادی مابین ایرانیان و پارسی زبانان طراحی و پیاده سازی شده
                            است.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 adresses central justify-content-start">
                 <div>
                    <div>
                        <button>
                            <mat-icon>location_on</mat-icon>
                            <span>تهران، بلوار کوهک، مجتمع طوبی 2 ، طبقه چهارم </span>
                        </button>
                    </div>
                    <div>
                        <button>
                            <mat-icon>call</mat-icon>
                            <span> 09121818959</span>
                        </button>
                    </div>
                    <div>
                        <button>
                            <mat-icon>call</mat-icon>
                            <span> 09392584967</span>
                        </button>
                    </div>
                    <div>
                        <button>
                            <mat-icon>call</mat-icon>
                            <span> 02188556699</span>
                        </button>
                    </div>
                    <div>
                        <button>
                            <mat-icon>email</mat-icon>
                            <span> javadbabaei1001@gmail.com</span>
                        </button>
                    </div>
                 
                 </div>
                </div>

                <div class="col-md-4 social">
                    <div class="central ">
                        <div>
                            <h3>ما را در شبکه‌های اجتماعی دنبال کنید :</h3>
                        </div>
                        <div class="social1 ">
                            <a href=""><img src="../../../assets/imgs/telegram (1).png" alt=""></a>
                            <a href=""><img src="../../../assets/imgs/instagram (1).png" alt=""></a>
                            <a href=""><img src="../../../assets/imgs/whatsapp (1) 1.png" alt=""></a>
                        </div>
                    </div>

                    <div class="central enamd">
                        <img src="../../../assets/imgs/Web-design-enamad.png" alt="">
                        <img src="../../../assets/imgs/images.png" alt="">
                    </div>

                    <div class="w-100 central">
                        <span >
                            کلیه حقوق مادی و معنوی این وبسایت متعلق به مجموعه تهران سیم میباشد و هرگونه کپی برداری موجب پیگرد قانونی می گردد.
                        </span>
                    </div>



                </div>

            </div>
        </div>
    </footer>

    <section class="central flex-column signature">

        <div>



        </div>

        <div class="my-1">

            <a target="_blank">


            </a>

        </div>

        <div>

            <span>
                <a target="_blank" href="https://javad1001.ir/"> طراحی و اجرا جواد بابایی</a>
            </span>

        </div>

    </section>
</main>