<!-- header -->

<header class="border-2 border-bottom border-gray p-1">

    <div class="app-header row flex-row-reverse justify-content-between gx-2 px-2 p-1">

        <div class="d-flex justify-content-start align-items-center flex-row-reverse col-11 col-md-5">

            <div class="app-logo col-12 col-md-6 pointer" (click)="changeRoute('search')">

                <img class="w-100 h-100" src="../../../assets/imgs/Shahrnik_Logo_Public_new.png" alt="">

            </div>

            <div class="p-0  ">

                <div class=" h-100 central ">
                    <div class="site-menu">
                        <ul class="d-flex justify-content-center align-items-center m-0">
                            <li class="status-desk" (click)="changeRoute('about')">درباره ما</li>
                            <li class="status-desk" (click)="changeRoute('contact')">ارتباط با ما</li>
                            <li (click)="changeRoute('news')">اخبار</li>
                            <li (click)="changeRoute('search')">جستجو</li>
                            <li (click)="changeRoute('search')">خانه</li>
                        </ul>
                    </div>


                </div>

            </div>

        </div>

        <div class="app-header-buttons col-1 col-md-4 d-flex flex-row-reverse justify-content-end align-items-center">

       

            <div class="my-diar p-1 rounded-md dropdown">

                <!-- dropdown-toggle -->

                <button class="d-flex align-items-center w-100 justify-content-between " type="button"
                    id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">

                    <mat-icon>menu</mat-icon>

                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                  
                    <li>

                        <a (click)="changeRoute('search')" class="dropdown-item"> صفحه اصلی 

                            <mat-icon class="text-muted"> info </mat-icon>

                        </a>

                    </li>

                    <li>

                        <a (click)="changeRoute('search')" class="dropdown-item"> جستجو 

                            <mat-icon class="text-muted"> info </mat-icon>

                        </a>

                    </li>

                    <li>

                        <a (click)="changeRoute('search')" class="dropdown-item"> صفحه خرید   

                            <mat-icon class="text-muted"> info </mat-icon>

                        </a>

                    </li>

                    <li>

                        <a (click)="changeRoute('rules')" class="dropdown-item"> همکاری 

                            <mat-icon class="text-muted"> info </mat-icon>

                        </a>

                    </li>

                    <li>

                        <a (click)="changeRoute('rules')" class="dropdown-item"> ثبت آگهی

                            <mat-icon class="text-muted"> info </mat-icon>

                        </a>

                    </li>

                    <li>

                        <a (click)="changeRoute('news')" class="dropdown-item"> اخبار 

                            <mat-icon class="text-muted"> info </mat-icon>

                        </a>

                    </li>

                    <li>

                        <a (click)="changeRoute('about')" class="dropdown-item"> درباره ما

                            <mat-icon class="text-muted"> info </mat-icon>

                        </a>

                    </li>

                    <li>

                        <a (click)="changeRoute('contact')" class="dropdown-item">  ارتباط با ما

                            <mat-icon class="text-muted"> info </mat-icon>

                        </a>

                    </li>

                    <li>
                        <a (click)="changeRoute('rules')" class="dropdown-item">

                            قوانین و مقررات

                            <mat-icon class="text-muted"> gavel </mat-icon>

                        </a>
                    </li>

                    <ng-container *ngIf="isLogin">

                        <li>
                            <a (click)="logOut()" class="dropdown-item"> خروج

                                <mat-icon class="text-muted"> logout </mat-icon>
                            </a>

                        </li>

                    </ng-container>


                </ul>

            </div>


        </div>

    </div>

</header>

<main dir="rtl" class="p-0">

    <router-outlet></router-outlet>

    <footer>
        <div class="px-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="links">
                        <h3><img src="../../../assets/imgs/Shahrnik_Logo_Public_new.png" alt="">
                            کیو رند</h3>
                        <p class=" py-1">
                            سایت کیو رند اصلاحاً یک Market Place است و فروشندگان سیم‌کارت ، تلفن ثابت و دامنه می‌توانند
                            محصولات خود را در این بازار برای ارایه به سایرین، آگهی کرده و به فروش برسانند. در این میان
                            وب‌سایت Qrond.ir هیچ دخالتی در خرید و فروش نداشته و از محل خرید یا فروش نیز مبلغی دریافت
                            نمی‌نماید و خریدار و فروشنده مستیماً با یکدیگر در تعامل وارتباط خواهند بود.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 adresses central justify-content-start">
                    <div>
                        <div>
                            <button>
                                <mat-icon>location_on</mat-icon>
                                <span>ایران ، تهران</span>
                            </button>
                        </div>
                        <div>
                            <button>
                                <mat-icon>call</mat-icon>
                                <span> 09392584967</span>
                            </button>
                        </div>
                        <div>
                            <button>
                                <mat-icon>call</mat-icon>
                                <span> 09991790969</span>
                            </button>
                        </div>
                        <div>
                            <button>
                                <mat-icon>email</mat-icon>
                                <span> javadbabaei1001@gmail.com</span>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 social">
                    <div class="central flex-column">
                        <div>
                            <h3>ما را در شبکه‌های اجتماعی دنبال کنید :</h3>
                        </div>
                        <div class="social1 ">
                            <a href=""><img src="../../../assets/imgs/telegram (1).png" alt=""></a>
                            <a href=""><img src="../../../assets/imgs/instagram (1).png" alt=""></a>
                            <a href=""><img src="../../../assets/imgs/whatsapp (1) 1.png" alt=""></a>
                        </div>
                    </div>

                    <div class="central enamd">
                        <img src="../../../assets/imgs/Web-design-enamad.png" alt="">
                        <img src="../../../assets/imgs/images.png" alt="">
                    </div>

                    <div class="w-100 central">
                        <span>
                            کلیه حقوق مادی و معنوی این وبسایت متعلق به مجموعه کیو رند میباشد و هرگونه کپی برداری موجب
                            پیگرد قانونی می گردد.
                        </span>
                    </div>



                </div>

            </div>
        </div>
    </footer>

    <section class="central flex-column signature">

        <div>



        </div>

        <div class="my-1">

            <a target="_blank">


            </a>

        </div>

        <div>

            <span>
                <a target="_blank" href="https://javad1001.ir/"> طراحی و اجرا جواد بابایی</a>
            </span>

        </div>

    </section>
</main>