<div class="container">
    <div class="row">

        <body>

            <div class="form-search">
                <form class="modal-body">

                    <ng-container>

                        <div class="central">
                            <form style="direction: ltr;" style="direction: rtl;" [formGroup]="otpForm"
                                class="main-num">
                                <input type="text" formControlName="digit1" maxlength="1"
                                    (keyup)="onInputKeyUp($event, 0)" />
                                <input type="text" formControlName="digit2" maxlength="1"
                                    (keyup)="onInputKeyUp($event, 1)" />
                                <input type="text" formControlName="digit3" maxlength="1"
                                    (keyup)="onInputKeyUp($event, 2)" />
                                <input type="text" formControlName="digit4" maxlength="1"
                                    (keyup)="onInputKeyUp($event, 3)" />
                                <input type="text" formControlName="digit5" maxlength="1"
                                    (keyup)="onInputKeyUp($event, 4)" />
                                <input type="text" formControlName="digit6" maxlength="1"
                                    (keyup)="onInputKeyUp($event, 5)" />
                                <input type="text" formControlName="digit7" maxlength="1"
                                    (keyup)="onInputKeyUp($event, 6)" />

                            </form>

                            <div [formGroup]="reqModel" class="form-group has-icon col-lg-2 col-md-3 col-6">

                                <!-- <span class="form-control-icon">

                                    <mat-icon class="mat-18">format_list_numbered</mat-icon>

                                </span> -->

                                <select #pre class="w-100 mb-3 prenumber" formControlName="strPreNumber">

                                    <option value="-1"> پیش شماره </option>
                                    <option value="0912">0912 </option>
                                    <option value="0913">0913 </option>
                                    <option value="0914">0914 </option>
                                    <option value="0915">0915 </option>
                                    <option value="0916">0916 </option>

                                </select>

                            </div>

                            <!-- <h2 style="direction: ltr;" class="m-0" *ngIf="pre.value == '-1'">  09?? - </h2>
                            <h2 class="m-0" *ngIf="pre.value !== '-1'"> - {{pre.value}}  </h2> -->

                        </div>

                        <div [formGroup]="reqModel" class="row">
                            <div class="form-group has-icon col-lg-2 col-md-3 col-6">

                                <span class="form-control-icon">

                                    <mat-icon class="mat-18">sim_card</mat-icon>

                                </span>

                                <select class="w-100 mb-3" formControlName="tiOperator">

                                    <option value="-1"> اپراتور </option>
                                    <option value="0">همراه اول</option>
                                    <option value="1"> ایرانسل</option>
                                    <option value="2"> رایتل</option>

                                </select>

                            </div>

                            <!-- <div class="form-group has-icon col-lg-2 col-md-3 col-6">

                                <span class="form-control-icon">

                                    <mat-icon class="mat-18">format_list_numbered</mat-icon>

                                </span>

                                <select #pre class="w-100 mb-3" formControlName="strPreNumber">

                                    <option value="-1"> پیش شماره </option>
                                    <option value="0912">0912 </option>
                                    <option value="0913">0913 </option>
                                    <option value="0914">0914 </option>
                                    <option value="0915">0915 </option>
                                    <option value="0916">0916 </option>

                                </select>
                                
                            </div> -->

                            <div class="form-group has-icon col-lg-2 col-md-3 col-6">

                                <span class="form-control-icon">

                                    <mat-icon class="mat-18">settings</mat-icon>

                                </span>

                                <select class="w-100 mb-3" formControlName="tiStatus">

                                    <option value="-1"> وضعیت </option>
                                    <option value="0"> صفر پک </option>
                                    <option value="1"> صفر به نام </option>
                                    <option value="2">در حد صفر </option>
                                    <option value="3"> کارکرده </option>

                                </select>
                            </div>

                            <div class="form-group has-icon col-lg-2 col-md-3 col-6">

                                <span class="form-control-icon">

                                    <mat-icon class="mat-18">sim_card_download</mat-icon>

                                </span>

                                <select class="w-100 mb-3" formControlName="tiType">

                                    <option value="-1"> نوع </option>
                                    <option value="0"> دائمی </option>
                                    <option value="1"> اعتباری </option>

                                </select>

                            </div>

                            <div class="form-group has-icon col-lg-2 col-md-3 col-6">

                                <span class="form-control-icon">

                                    <mat-icon class="mat-18">attach_money</mat-icon>

                                </span>
                                <input #budget name="budget" (input)="onBudget(1)" class="mb-3 w-100 form-control"
                                    #iPrice formControlName="fMinPrice"
                                    [ngStyle]="{ direction: iPrice.value.trim() == '' ? 'rtl' : 'ltr' }"
                                    [placeholder]="'قیمت از (تومان)'"
                                    oninput="this.value=this.value.replace(/[^0-9]/g,'')" type="text">

                            </div>
                            <div class="form-group has-icon col-lg-2 col-md-3 col-6">

                                <span class="form-control-icon">

                                    <mat-icon class="mat-18">attach_money</mat-icon>


                                </span>
                                <input #budget name="budget" (input)="onBudget(1)" class="mb-3 w-100 form-control"
                                    #iPrice1 formControlName="fMaxPrice"
                                    [ngStyle]="{ direction: iPrice1.value.trim() == '' ? 'rtl' : 'ltr' }"
                                    [placeholder]="'قیمت تا (تومان)'"
                                    oninput="this.value=this.value.replace(/[^0-9]/g,'')" type="text">

                            </div>
                            <div class="form-group has-icon col-lg-2 col-md-3 col-6">


                                <div class="w-100 central search-btn">
                                    <button class="w-100" (click)="search()"> جستجو</button>
                                </div>
                            </div>

                        </div>

                        <!-- <div class="d-flex async_price">
                            <button class="call-butt ">
                                <p class="m-0">همه </p>
                                <mat-icon>all_inclusive</mat-icon>
                            </button>
                            <button (click)="sortColumn(0)" class="call-butt ">
                                <p class="m-0">ارزان ترین</p>
                                <mat-icon>arrow_upward</mat-icon>
                            </button>
                            <button class="call-butt ">
                                <p class="m-0">گران ترین</p>
                                <mat-icon>arrow_downward</mat-icon>
                            </button>
                         </div> -->

                    </ng-container>

                </form>

            </div>



            <table class="my-3">


                <tr>
                    <th>شماره</th>
                    <th class="">وضعیت</th>
                    <th class="central">قیمت (تومان)
                    </th>
                    <th class="status-desk">شرایط</th>
                    <th class="status-desk">

                    </th>
                </tr>


                <tr *ngFor="let item of posts" (click)="openDetail(item)">
                    <td style="direction: ltr;" class="text-bold">{{item.strMobileSchema}}
                        <!-- <small class="status-mobile">
                        <p *ngIf="item.tiStatus == 0"> صفر بی نام</p>    
                        <p *ngIf="item.tiStatus == 1"> صفر به نام</p>    
                        <p *ngIf="item.tiStatus == 2">در حد صفر </p>    
                        <p *ngIf="item.tiStatus == 3"> کارکرده </p>  
                    </small> -->
                    </td>
                    <td class="text-small">
                        <p *ngIf="item.tiStatus == 0"> صفر بی نام</p>
                        <p *ngIf="item.tiStatus == 1"> صفر به نام</p>
                        <p *ngIf="item.tiStatus == 2">در حد صفر </p>
                        <p *ngIf="item.tiStatus == 3"> کارکرده </p>
                    </td>
                    <td>{{item.iPrice | number:'1.0-0'|faNum}}</td>
                    <td class="status-desk">
                        <p *ngIf="item.tiCondition == 0"> نقد </p>
                        <p *ngIf="item.tiCondition == 1"> نقد و اقساط </p>
                    </td>
                    <td class="central status-desk">
                        <button class="call-butt">

                            <mat-icon>phone_in_talk</mat-icon>
                        </button>
                    </td>
                </tr>



            </table>

        </body>
    </div>
</div>





<div class="modal fade dir " id="openDetail" tabindex="4" role="dialog" aria-hidden="true">
    <div style="width:90%;" class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-divar">

            <div class="modal-body">
                <button type="button" class="btn-close modal-close-btn" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <div class="container">
                    <div class="detail_box ">
                        <div class="central justify-content-between w-100 ">
                            <div class="central">
                                <img *ngIf="detail?.tiOperator == 0" src="../../../assets/imgs/Hamrahe_Aval_logo.png">
                                <img *ngIf="detail?.tiOperator == 1" src="../../../assets/imgs/irancell.png">
                                <h3 class="mx-1">{{detail?.strMobileSchema }}</h3>
                            </div>
                            <div class="central">
                                <mat-icon>attach_money</mat-icon>
                                <h4>{{detail?.iPrice | number:'1.0-0'|faNum}}</h4>

                            </div>
                        </div>
                    </div>
                    <div class="price_box">
                        <ul>
                            <li>
                                <p>
                                    شماره : {{detail?.strMobile}}
                                </p>
                            </li>
                            <li>
                                <p *ngIf="detail?.tiOperator == 0">
                                    اپراتور : همراه اول
                                </p>
                                <p *ngIf="detail?.tiOperator == 1">
                                    اپراتور : ایرانسل
                                </p>
                            </li>
                            <li>
                                <p *ngIf="detail?.tiStatus == 0">
                                    وضعیت : صفر پک
                                </p>
                                <p *ngIf="detail?.tiStatus == 1">
                                    وضعیت : صفر به نام
                                </p>
                                <p *ngIf="detail?.tiStatus == 2">
                                    وضعیت : در حد صفر
                                </p>
                                <p *ngIf="detail?.tiStatus == 3">
                                    وضعیت : کارکرده
                                </p>
                            </li>
                            <li>

                                <p *ngIf="detail?.tiType == 0">
                                    نوع : دائمی
                                </p>
                                <p *ngIf="detail?.tiType == 1">
                                    نوع : اعتباری
                                </p>
                            </li>
                            <li>
                                <p *ngIf="detail?.tiCondition == 0">
                                    شرایط فروش : نقد
                                </p>
                                <p *ngIf="detail?.tiCondition == 1">
                                    شرایط فروش : نقد و اقساط
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="detail_box call_box bg-secondary">
                        <div class="central justify-content-between w-100 ">
                            <div class="central">

                                <h3 class="mx-1">
                                    تماس با فروشنده
                                </h3>
                            </div>
                            <div class="central">
                                <button class="central">
                                    <h4>{{detail?.strMobileSeller |faNum}}</h4>
                                    <span>
                                        <mat-icon>call</mat-icon>
                                    </span>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>