<div class="container">
    <div class="row">

        <body>

            <table class="my-3">
                <tr>
                    <th>شماره</th>
                    <th>وضعیت</th>
                    <th>قیمت (تومان)</th>
                    <th>شرایط</th>
                    <th>تماس با فروشنده</th>
                </tr>
                <tr>
                    <td>09121115522</td>
                    <td>در حد صفر</td>
                    <td>2.500.000</td>
                    <td>نقد،اقساط و تهاتر</td>
                    <td>تماس</td>
                </tr>
                <tr>
                    <td>09121115522</td>
                    <td>در حد صفر</td>
                    <td>2.500.000</td>
                    <td>نقد،اقساط و تهاتر</td>
                    <td>تماس</td>
                </tr>
                <tr>
                    <td>09121115522</td>
                    <td>در حد صفر</td>
                    <td>2.500.000</td>
                    <td>نقد،اقساط و تهاتر</td>
                    <td>تماس</td>
                </tr>

            </table>

        </body>
    </div>
</div>